<style>
.form-change-password {
  margin-bottom: 20px;
}
</style>

<div class='form-change-password'>
  <form id='change-password' class="pure-form change-password">
      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >1. Solicita el UUID de autorización.</legend>
          <input required name="email" type="email" class="pure-input-1-2" placeholder="Correo electrónico" >
          <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Enviar UUID  <i class="fas fa-paper-plane"></i></button>
      </fieldset>
      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >2. Ingresa tu nueva contraseña y el UUID.</legend>
          <input name="password" type="password" class="pure-input-1-2" placeholder="Nueva contraseña" >
          <input name="change_pass_token" type="text" class="pure-input-1-2" placeholder="UUID" >
      </fieldset>
      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Cambiar <i class="fas fa-exchange-alt"></i></button>
  </form>
</div>

<script>
$(document).ready(function () {
  current_user.done(function(current_user){
    $('input[name=email]').val(current_user.email);
  });
  $( "#change-password" ).on('submit', function( event ) {
    event.preventDefault();
    apiCall('user','changePassword',$(this).serializeFormJSON()).done(function(response){
      if(response.operation == 'password_changed'){
        window.location.replace("/login");
      };
    });
  });
});
</script>
