<!-- ---------includes--------- -->
{% include utils/messages.html %}
<!-- ---------includes--------- -->

<style>
.form-contact {
  margin-bottom: 20px;
}
</style>

<div class='form-contact'>
  <p id="message-text"></p>
  <form class="pure-form contact">
      <fieldset class="pure-group pure-form-stacked">
        <label for="about">Tema</label>
        <select name="about" id="about" required>
          <option>Corte CNC</option>
          <option>Impresión 3D</option>
          <option>Compras</option>
          <option>Proyectos</option>
          <option>Otros</option>
        </select>
      </fieldset>

      <fieldset class="pure-group">
          <input name="name" type="text" class="pure-input-1-2" placeholder="Nombre" >
          <input name="email" type="email" class="pure-input-1-2" placeholder="Correo electrónico" >
      </fieldset>

      <fieldset class="pure-group">
          <input name="subject" type="text" class="pure-input-1-2" placeholder="Asunto" >
          <textarea name="message" class="pure-input-1-2" placeholder="Mensaje" ></textarea>
      </fieldset>
      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Enviar <i class="fas fa-paper-plane"></i></button>
  </form>
  <br>
    <small><b class="overdoingthings">No</b>  almacenamos tus datos.</small><br>
    <small><b class="overdoingthings">No</b>  enviamos correos con anuncios.</small><br>
    <small>Si prefieres contáctanos desde tu servidor de correos.</small><br>
    <a class="u-email" href="mailto:{{ site.email }}"><i class="far fa-envelope"></i> {{ site.email }}</a><br>
  </div>

<script src="https://www.google.com/recaptcha/api.js?render={{ site.data.callback.captchakey }}"></script>
<script>
  $( ".contact" ).on('submit', function( event ) {
    event.preventDefault();
    var method = 'form_contact';
    var payload = $( ".contact" ).serializeFormJSON();
    remoteCall(method,payload,false).done(function(response){
      $( ".contact" ).trigger('reset');
      messageInfo('¡Gracias! Nos pondremos en contacto por correo a la brevedad.');
    }).fail(function(){
      messageAlert('No se pudo enviar el correo.');
    });
  });
</script>
