<!-- ---------includes--------- -->
{% include utils/dialogs.html %}
{% include utils/messages.html %}
<!-- ---------includes--------- -->

<style>
.form-edit-user {
  margin-bottom: 20px;
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
    margin-top:30px;
}

</style>

<div class='form-edit-user'>

  <p id="message-text"></p>

  <h3 id='email_title'></h3>
  <div class="message"><p id="mdialog"></p></div>
  <form class="pure-form edit-user">
      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >Nombre</legend>
          <input name="name" type="text" class="pure-input-1-2" placeholder="Nombre" >
      </fieldset>
      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >Dirección de entrega</legend>
          <input name="calle" class="pure-input-1-2" placeholder="Calle" >
          <input name="numero_ext" class="pure-input-1-2" placeholder="No. Exterior" >
          <input name="numero_int" class="pure-input-1-2" placeholder="No. Interior" >
          <input name="colonia" class="pure-input-1-2" placeholder="Colonia" >
          <input name="municipio" class="pure-input-1-2" placeholder="Alcaldia/Municipio" >
          <input name="estado" class="pure-input-1-2" placeholder="Estado" >
          <input name="cp" class="pure-input-1-2" placeholder="CP" >
      </fieldset>
      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >Facturación</legend>
          <input name="razon_social" type="text" class="pure-input-1-2" placeholder="Razon social" >
          <input name="rfc" type="text" class="pure-input-1-2" placeholder="RFC" >
      </fieldset>
      <fieldset class="pure-group">
        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Guardar <i class="fas fa-save"></i></button>
      </fieldset>

  </form>
  <div class='pure-u-1-2 pure-form'>

    <fieldset class="pure-group">
      <legend class="pure-u-1-2" >Constraseña</legend>
      <a class="pure-button pure-input-1-2 pure-button-primary" href="/change-password">Cambiar <i class="fas fa-lock"></i></a>
    </fieldset>

    <fieldset class="pure-group">
      <legend class="pure-u-1-2" >Peligro</legend>
      <button id='delete_button' class="pure-button pure-input-1-2 button-warning">Borrar <i class="fas fa-user-times"></i></button>
    </fieldset>

  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render={{ site.data.callback.captchakey }}"></script>
<script>

$( ".edit-user" ).on('submit', function( event ) {
  event.preventDefault();
  var method = 'user_edit';
  var payload = $( ".edit-user" ).serializeFormJSON();
  remoteCall(method,payload,false).done(function(response){
   messageInfo('Cambios guardados.');
  }).fail(function(){
   messageAlert('No se guardaron los cambios.');
  });
});

function deleteUser() {
   var method = 'user_delete';
   remoteCall(method,false,false).done(function(response){
     showOkDialog('Usuario borrado','Hasta la vista baby.').done(function(){
       setCookie('session_token','',-1000);
       window.location.replace("/");
     });
   });
}

$(document).ready(function () {
  current_user.done(function(current_user){
    $('#email_title').text(current_user.email)
    $('input[name=name]').val(current_user.name);
    $('input[name=rfc]').val(current_user.rfc);
    $('input[name=razon_social]').val(current_user.razon_social);
    if (current_user.address) {
      Object.keys(current_user.address).forEach(function(key) {
        $('input[name='+key+']').val(current_user.address[key]);
      });
    }
  });
});

$('#delete_button').click(function () {
  event.preventDefault();
  showOkCancelDialog('Borrar usuario','El usuario se elimiará de forma permanente.').done(function(){
    deleteUser();
  });
});


</script>
