<!-- ---------includes--------- -->
{% include utils/messages.html %}
<!-- ---------includes--------- -->

<style>
.form-change-password {
  margin-bottom: 20px;
}
</style>

<div class='form-change-password'>

  <p id="message-text"></p>

  <form class="pure-form change-password">

      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >1. Solicita el UUID de autorización.</legend>
          <input name="email" type="email" class="pure-input-1-2" placeholder="Correo electrónico" >
          <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Enviar UUID  <i class="fas fa-paper-plane"></i></button>
      </fieldset>

      <fieldset class="pure-group">
          <legend class="pure-input-1-2" >2. Ingresa tu nueva contraseña y el UUID.</legend>
          <input name="password" type="password" class="pure-input-1-2" placeholder="Nueva contraseña" >
          <input name="change_pass_token" type="text" class="pure-input-1-2" placeholder="UUID" >
      </fieldset>

      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Cambiar <i class="fas fa-exchange-alt"></i></button>
  </form>

</div>

<script src="https://www.google.com/recaptcha/api.js?render={{ site.data.callback.captchakey }}"></script>
<script>

$( ".change-password" ).on('submit', function( event ) {
  event.preventDefault();

  var method = 'form_change_password';
  var payload = $( ".change-password" ).serializeFormJSON();

  remoteCall(method,payload,false).done(function(response){
   if (response.operation == 'mail_sent'){
     messageInfo('El correo con el UUID fué enviado.')
   };
   if(response.operation == 'password_changed'){
     window.location.replace("/login");
   };
  }).fail(function(){
   messageAlert('Las credenciales son inválidas.');
  });



});

$(document).ready(function () {
  current_user.done(function(current_user){
    $('input[name=email]').val(current_user.email);
  });
});

</script>
