<!-- ---------includes--------- -->
{% include utils/messages.html %}
{% include utils/dialogs.html %}
<!-- ---------includes--------- -->

<form id='form-store'>
  <input form='form-store' type="hidden" name="item_type" value="{{ page.title || slugify }}">
  <input form='form-store' type="hidden" name="item_layout" value="{{ page.layout }}">
  <input form='form-store' type="hidden" name="item_group" value="{{ page.group }}">
</form>

<script>

  var upload_files = [];
  var form_store = $( "#form-store" );

  form_store.on('submit', function( event ) {
    event.preventDefault();
    current_user.always(function(user){
      var method = '{{include.method}}';
      var payload = form_store.serializeFormJSON();
      payload['cart_token'] = cart_token;
      remoteCall(method,payload,upload_files).done(function(response){
        if (method == 'store_form_order')  {
            if (user)  {
              window.location.replace("/orders");
            }else{
              showOkDialog('¡Gracias!','Nos pondremos en contacto contigo por correo.').done(function(){
                setCookie('session_token','',-1000);
                window.location.replace("/");
              });
            }
        }else{
          if (method != 'store_edit_order')  {
            messageInfo('¡Listo!');
            form_store.trigger('reset');
            if (upload_files.length != 0){
              reset_files();
            }
          }else{
            location.replace(document.location.href.replace('order-edit','order'));
          }

        }
      }).fail(function(){
        messageAlert('Upps... algo no esta bien.');
      });
    });
  });


</script>
