<!-- includes -->
{% include utils/messages.html %}
{% include utils/dialogs.html %}
<!-- includes -->

<form id='form-store'>
  <input form='form-store' type="hidden" name="item_type" value="{{ page.title || slugify }}">
  <input form='form-store' type="hidden" id='item_layout' name="item_layout" value="{{ page.layout }}">
  <input form='form-store' type="hidden" name="item_group" value="{{ page.group }}">
  <input form='form-store' type="hidden" id="item_pid" name="item_pid" value="">
</form>

<script>


$(document).ready(function () {

  var cart_token = getCookie('cart_token');
  if (cart_token == '') {
    cart_token = Math.random().toString(36);
    setCookie('cart_token', cart_token, 2);
  }
  var method = '{{include.method}}'.replace('store_','');
  $( "#form-store" ).on('submit', function( event ) {
    event.preventDefault();
    var payload = $(this).serializeFormJSON();
    if ( typeof upload_files !== 'undefined' && upload_files ) {
      var files = upload_files;
    } else {
      var files = false;
    }
    payload.cart_token = cart_token;
    apiCall('store',method,payload,files).done(function(response){
      if (method == 'form_order')  {
        setCookie('active_order',response.order.id,1);
        window.location.replace("/order");
      }else{
        if (method != 'edit_order')  {
          messageHTML('¡Agregado! <a class="pure-button go-cart-button" href="/order-create"> Continuar a Crear Orden <i class="fas fa-shopping-cart"></i> </a> ');
          $( "#form-store" ).trigger('reset');
          if (files && files.length != 0){
            reset_files();
          }
          update_product();
        }else{
          location.replace(document.location.href.replace('order-edit','order'));
        }
      }
    });
  });
})

</script>
