<style>
  .freight-img{
    width: 24px;
    display: inline-block;
    margin-left: 10px;
  }
</style>


<div class="pure-form pure-form-stacked">

    <legend>Entrega</legend>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-user"></i> Contacto</label>
        <fieldset class="pure-group">
          <input required form='form-store' name="user_name" type="text" class="pure-input-1" placeholder="Nombre">
          <input required form='form-store' name="user_email" type="email" class="pure-input-1" placeholder="Correo electrónico">
        </fieldset>
        <fieldset class="somespace">
          <input onchange='check_address(this)' form='form-store' type="radio" name="shipping" value="delivery" checked><span class='freight-img'><i class="fas fa-truck"></i></span> Envío a domicilio <strong>FedEx</strong><br>
          <input onchange='check_address(this)' form='form-store' type="radio" name="shipping" value="workshop"><span class='freight-img'><i class="fas fa-map-marker-alt"></i></span> Recoger en planta
        </fieldset>
      </div>
      <div id='address' class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-map-marked-alt"></i> Dirección</label>
        <fieldset class="pure-group">
            <input required form='form-store' name="calle" class="pure-input-1 address" placeholder="Calle" >
            <input required form='form-store' name="numero_ext" class="pure-input-1 address" placeholder="No. Exterior" >
            <input form='form-store' name="numero_int" class="pure-input-1" placeholder="No. Interior" >
            <input required form='form-store' name="colonia" class="pure-input-1 address" placeholder="Colonia" >
            <input required form='form-store' name="municipio" class="pure-input-1 address" placeholder="Alcaldía/Municipio" >
            <input required form='form-store' name="estado" class="pure-input-1 address" placeholder="Estado" >
            <input required form='form-store' name="cp" class="pure-input-1 address" placeholder="CP" >
        </fieldset>
      </div>
    </div>

</div>

<script>
  $(document).ready(function () {
    current_user.done(function(current_user){
      $('input[name=user_name]').val(current_user.name);
      $('input[name=user_email]').val(current_user.email);
      $('input[name=user_email]').prop('disabled', true);
      if (current_user.address) {
        Object.keys(current_user.address).forEach(function(key) {
          $('input[name='+key+']').val(current_user.address[key]);
        });
      }
    });
  });
  function check_address(element){
    var el = $(element)
    if (el.prop('checked') && el.val() == "delivery"){
      $('.address').each(function(i){
        $(this).prop('required',true);
        $('#address').show();
      })
    }else if (el.prop('checked') && el.val() == "workshop"){
      $('.address').each(function(i){
        $(this).prop('required',false);
        $('#address').hide();
      })
    }
  }
</script>
