<style>
  .send-button {
    width : 100% ;
    margin-top:.7em;
  }
  .add-qty{
    margin-top:.7em;
    margin-left:20px;
  }
</style>

<div class="pure-form">
  <legend>Todo listo</legend>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <button id='button-submit' form='form-store' type="submit" class="pure-button send-button pure-button-primary">Agregar <i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="pure-u-1-2">
      <input class='add-qty' form='form-store' type='number' name='qty' value='1' min='1' max='99'>
    </div>
    <!-- <div class="pure-u-1-2">
      <button onclick="query_product()" class="pure-button">Calcular estimado <i class="fas fa-calculator"></i></button>
    </div> -->
    <div class="pure-u-1">
      <p id="message-text"></p>
    </div>
  </div>
</div>

<script>

  // $(document).ready(function () {
  //   query_product();
  // });
  function query_product(){
    current_user.always(function(user){
      var method = 'store_product_query';
      var payload = form_store.serializeFormJSON();
      payload['cart_token'] = cart_token;
      remoteCall(method,payload,false).done(function(response){
        var product =  response.product;
        console.log(product);
      }).fail(function(){
        console.log('satetilite malfunction');
      });
    });
  }
</script>
