<style>
  .send-button {
    width : 100% ;
    margin-top:.7em;
  }
  .go-cart-button {
    float:right;
  }
  .add-qty{
    margin-top:.7em;
    margin-left:20px;
    height: 2.15em;
  }
  .product-info{
    color: #434343;
    vertical-align: bottom;
    font-family: 'Inconsolata', monospace;
  }
  .product-price{
    margin-top:.7em;
    float:right;
    font-family: 'Inconsolata', monospace;
    font-size:19px;
  }
  .info-service{
    font-family: 'Inconsolata', monospace;
    font-size:14px;
  }
</style>

<div class="pure-form">
  <legend>Todo listo</legend>
  <div class="pure-g">
    <div class="pure-u-1" id='info_service'>
      <span class="info-service">Agrega la cantidad de material que estas contemplando para tu servicio, puede ser aproximada.</span>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <button id='button-submit' form='form-store' type="submit" class="pure-button send-button pure-button-primary">Agregar <i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-4">
      <input id='qty' class='add-qty' form='form-store' type='number' name='qty' value='1' min='1' max='99'>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-4">
      <div id='price' class='product-price'>Total</div>
    </div>
    <div class="pure-u-1">
      <div id="message-text"></div>
    </div>

    <!-- <div class="pure-u-1">
      <pre id='product_info'></pre>
    </div> -->

  </div>
</div>

<script>

var product = $.Deferred()
var is_product = false;

function set_product_info(item){
  var qty = $('#qty').val()
  $('#price').text(formatCurrency((item.price_web * qty),'mxn'));
  $('#md5_pid').text('/ ' + item.md5);
  $('#item_pid').val(item.md5);
}

function update_product(){
  current_user.always(function(user){
    var method = 'store_product_query';
    var payload = form_store.serializeFormJSON();
    remoteCall(method,payload,false).done(function(response){
      set_product_info(response.product);
      product.resolve(response.product).promise();
    }).fail(function(){
      console.log('satetilite malfunction');
      product.reject(false).promise();
    });
  });
}

$(document).ready(function () {
  var layout = $('#item_layout').val();
  is_product = layout == 'product' || layout == 'service'
  if (is_product){
    update_product();
    product.done(function(product){
      set_product_info(product);
    });
    var form_inputs = $("[form='form-store']")
    form_inputs.each(function(e){
      input = form_inputs[e];
      $(input).on('change',function(){
        update_product();
      })
    });

  }else{
    product.reject(false).promise();
  }
  if (layout != 'service') {
    $('#info_service').hide();
  }
});

</script>
