<!-- ---------includes--------- -->
{% include utils/messages.html %}
<!-- ---------includes--------- -->

<style>
  .upload-container {
      position: relative;
      overflow: hidden;
      margin-bottom:.3em;
  }
  .upload-container input.upload {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .button-upload {
      background: #0078e7b3; /* this is a light blue */
  }
  .button-transparent {
      background: transparent; /* this is an orange */
  }
  .delete-button {
    float:right;
    margin-bottom:.3em;
  }
  .delete-button a {
    color: #111;
  }
  .delete-button a:visited {
    color: #111;
  }
  .link-files{
    height:1.5em;
    margin-bottom:5px;
  }
  .link-files a {
    color: #111;
  }
  .link-files a:visited{
    color: #111;
  }
</style>
<div class='pure-form'>
  <fieldset class="pure-group">
    <legend>Archivos para corte</legend>
    <p class='link-files'><a href='/lineamientos-dibujo'>Lineamientos para preparar tu dibujo CAD <i class="fas fa-drafting-compass"></i></a></p>
      <div class="upload-container pure-button button-upload">
          <span>Seleccionar archivos <i class="fas fa-file-upload"></i></span>
          <input class='upload' id='upload-file' name="file" type="file" multiple />
      </div>
      <span class='delete-button'><a id='delete-files' class="pure-button button-transparent" href="#">Borrar <i class="fas fa-trash"></i></a></span>
      <p id='file-name-container'></p>
  </fieldset>
</div>
<script>

  var allowed_extensions = [];

  var upload_files = [];
  var upload_files_string = '';

  $('#upload-file').on('change', function( event ) {
    var files = $('#upload-file').prop('files');
    if (files) {
  		var upload_file;
  		for (var i = 0; i < files.length; i++) {
  			upload_file = files[i];

        var e = upload_file.name.split('.');
        var ext = e[e.length-1];
        console.log(upload_file.name);
        if (allowed_extensions.includes(ext) == false){
          upload_files.push(upload_file)
          var filename = '&nbsp; ~/' + upload_file.name + '<br>';
          upload_files_string += filename;
        }else{
          var filename = '&nbsp; ~/' + upload_file.name + '<b> |Formato incorrecto</b><br>';
          upload_files_string += filename;
        }
  		}
      $('#file-name-container').html(upload_files_string);
  	}
  });

  function reset_files(){
    var form_files = $('#upload-file');
    for (var i = 0; i < form_files.length; i++) {
      $(form_files[i]).val('');
    }
    upload_files = [];
    upload_files_string = '';
    $('#file-name-container').html('');
  }

  $('#delete-files').click(function(){
    event.preventDefault();
    reset_files();
  });

</script>
