<style>
  #info_message{
    display:none;
  }
  .info-message {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    border-radius:5px;
    padding:20px;
    color:#000000;
    margin-bottom:30px;
  }
  .close-cross{
    float:right;
    height: 14px;
    margin:10px;
  }
</style>

<div class="pure-g">
  <div class="pure-u-1">
    <a onclick='open_info_message();' id='open_close_info' class='close-cross'><i class="fas fa-expand"></i></a>
    <div id="info_message" class='info-message'>
      <h4>Necesitamos unos momentos para revisar tus archivos y calcular el precio total. </h4>
      <ul>
        <li>Te avisaremos por correo en cuanto tengamos el total de tus productos y servicios.</li>
        <li>También puedes ver el estado de tu soclicitud en la sección de <em>Mis Órdenes</em>.</li>
        <li>El pago lo podrás hacer en línea, depositando en tiendas de autoservicio o con transferencia bancaria.</li>
        <li>Recuerda que cuentas con el respaldo de <strong>MercadoPago</strong> y <strong>MercadoEnvio</strong> para todas tus órdenes.</li>
      </ul>
    </div>
  </div>
</div>

<script>
  var cookie_name = 'message_service';
  $(document).ready(function () {
    if (getCookie(cookie_name) != 'off'){
      $('#info_message').css('display','block');
      $('#open_close_info').attr('onclick','close_info_message();');
      $('#open_close_info').html('<i class="fas fa-compress"></i>');
      setCookie(cookie_name,'on',90)
    }
  });
  function close_info_message(){
    $('#info_message').css('display','none');
    $('#open_close_info').attr('onclick','open_info_message();');
    $('#open_close_info').html('<i class="fas fa-expand"></i>');
    setCookie(cookie_name,'off',90)
  }
  function open_info_message(){
    $('#info_message').css('display','block');
    $('#open_close_info').attr('onclick','close_info_message();');
    $('#open_close_info').html('<i class="fas fa-compress"></i>');
    setCookie(cookie_name,'on',90)
  }
</script>
