<style>
  #info_message{
    display:none;
  }
  .info-message {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    border-radius:5px;
    padding:20px;
    color:#000000;
    margin-bottom:40px;
    margin-top:10px;
  }
  .close-cross{
    float:right;
    height: 14px;
    margin:10px;
    margin-top:25px;
  }
</style>

<div class="pure-g">
  <div class="pure-u-1">
    <a onclick='open_info_message();' id='open_close_info' class='close-cross'><i class="fas fa-expand"></i></a>
    <div id="info_message" class='info-message'>
      <h4>Manufactura digital</h4>
      <ul>
        <li>Considera nuestros <strong>lineamientos básicos para preparar tu dibujo</strong>. Así evitamos molestarte y comenzamos a trabajar en tu solicitud de inmediato.</li>
        <li>Utiliza material de apoyo como fotos y planos que nos ayuden a entender mejor tu proyecto para poderte asesorar de la mejor manera.</li>
        <li>Recuerda que la cantidad de piezas a elegir corresponde unicamente al material. Puede que en tu cotización final este número cambie a considereación de tu vendedor asignado.</li>
        <li>Previo al corte se te enviará un archivo digital con las piezas a entregar para tu autorizacion.</li>
        <li>Si requieres la hoja completa con retazos por favor hazle saber a tu vendedor, de lo contrario se entregarán solo las piezas.</li>
      </ul>
      <small>Revisa nuestra politica de servicios de maquila y envío.</small>
    </div>
  </div>
</div>

<script>
  var cookie_name = 'message_service';
  $(document).ready(function () {
    if (getCookie(cookie_name) != 'off'){
      $('#info_message').css('display','block');
      $('#open_close_info').attr('onclick','close_info_message();');
      $('#open_close_info').html('<i class="fas fa-compress"></i>');
      setCookie(cookie_name,'on',90)
    }
  });
  function close_info_message(){
    $('#info_message').css('display','none');
    $('#open_close_info').attr('onclick','open_info_message();');
    $('#open_close_info').html('<i class="fas fa-expand"></i>');
    setCookie(cookie_name,'off',90)
  }
  function open_info_message(){
    $('#info_message').css('display','block');
    $('#open_close_info').attr('onclick','close_info_message();');
    $('#open_close_info').html('<i class="fas fa-compress"></i>');
    setCookie(cookie_name,'on',90)
  }
</script>
