<style>
  #info_message{
    display:none;
  }
  .info-message {
    background-color:#9ebae1;
    border-radius:5px;
    padding:20px;
    color:#000000;
  }
  .close-cross{
    float:right;
    height: 14px;
    margin:10px;
  }
</style>

<div class="pure-g">
  <div class="pure-u-1">
    <a onclick='open_info_message();' id='open_close_info' class='close-cross'><i class="fas fa-expand"></i></a>
    <div id="info_message" class='info-message'>
      <h4>Revisa el estado de tus órdenes. </h4>
      <ul>
        <li>Cuando estén listas tus solicitudes aparecerán como <strong>Activas</strong> y podrás realizar el pago.</li>
        <li>Puedes pagar en línea, depositando en tiendas de autoservicio o con transferencia bancaria.</li>
        <li>Cuando esté listo algún pedido te avisaremos por correo y aparecerá como <strong>Completado</strong>.</li>
        <li>Si solicitaste entrega a domicilio, adjuntaremos la guía de rastreo y datos de la compañía de mensajería.</li>
      </ul>
      <small>Para pagos con transferencia electrónica por favor envíanos el comprobante a hmx@hangarmx.com junto con tu número de orden. Los pagos en línea se procesan en automático.</small>
    </div>
  </div>
</div>

<script>
  var cookie_name = 'message_service';
  $(document).ready(function () {
    if (getCookie(cookie_name) != 'off'){
      $('#info_message').css('display','block');
      $('#open_close_info').attr('onclick','close_info_message();');
      $('#open_close_info').html('<i class="fas fa-compress"></i>');
      setCookie(cookie_name,'on',90)
    }
  });
  function close_info_message(){
    $('#info_message').css('display','none');
    $('#open_close_info').attr('onclick','open_info_message();');
    $('#open_close_info').html('<i class="fas fa-expand"></i>');
    setCookie(cookie_name,'off',90)
  }
  function open_info_message(){
    $('#info_message').css('display','block');
    $('#open_close_info').attr('onclick','close_info_message();');
    $('#open_close_info').html('<i class="fas fa-compress"></i>');
    setCookie(cookie_name,'on',90)
  }
</script>
