<!-- ---------includes--------- -->
{% include utils/messages.html %}
{% include store/form-store.html method='store_form_order' %}
<!-- ---------includes--------- -->

<style>
  .delete-item {
    margin-top: .3em;
    float:right;
    font-size: 12px;
  }
  .cart-item {
    margin-bottom: 12px;
    display: none;
  }
  .send-button {
    width : 100% ;
    line-height: 1.3em;
  }
  .qty-input {
    margin-left: 20px;
    height: 1.8em;
    float: right;

  }
  .summary {
    height: 2em;

  }
</style>

<div class="pure-form">

  <legend>Productos</legend>
  <div class="pure-g">
    <div class="pure-u-1">
      <fieldset>

        <details id='pid-1' class='cart-item'>

          <input id='item_id' form='form-store' type='hidden' value='' name='items_id'>
          <input id='order_id' type='hidden' value='' name='items_id'>

          <summary class='summary'><h id='header_text'><b>Servicio</b>Nombre del articulo</h>

            <input id='qty' onchange="edit_order_item(this)" class='qty-input' type='number' name='qty' value='1' min='1' max='99'>
            <input id='price_supplement' onchange="edit_order_item(this)" class='qty-input' type='number' name='price_supplement' value='1' min='1' max='99'>
            <input id='price_factor' onchange="edit_order_item(this)" class='qty-input' type='number' name='price_factor' value='1' min='1' max='99'>
            <input id='price' onchange="edit_order_item(this)" class='qty-input' type='number' name='price' value='1' min='1' max='9999999'>
            <a onclick="remove_order_item(this);" class='delete-item'>Borrar <i class="fas fa-trash"></i></a>


          </summary>

          <pre id='info'>Algo chulo para el usuario</pre>
        </details>

      </fieldset>

    </div>
  </div>
</div>

{% include store/input-user-info.html %}

<div class="pure-form">
  <legend>Todo listo</legend>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <button form='form-store' type="submit" class="pure-button send-button pure-button-primary">Guardar <i class="fas fa-save"></i></button>
    </div>
    <div class="pure-u-1">
      <p id="message-text"></p>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    var order_id = document.location.href.split('/').pop()
    console.log(order_id);
    current_user.always(function(){
      var method = 'store_order';
      var payload = {'order_id':order_id}
      remoteCall(method,payload,false).done(function(response){
        console.log(response)
        cart_items = response.items_json;
        var cart_item;
        var cart_item_container = $('#pid-1')
        for (var i = 0; i < cart_items.length; i++) {
          cart_item = cart_items[i]
          cart_item_container.clone().attr('id',cart_item.id).insertAfter($('#pid-1'));
          new_cart_item = $('#'+ cart_item.id );
          new_cart_item.find('#item_id').val(cart_item.id);
          new_cart_item.find('#order_id').val(response.id);
          new_cart_item.find('#header_text').html('<b>' + cart_item.type + '</b>      ' + cart_item.layout);
          new_cart_item.find('#qty').val(cart_item.qty);
          new_cart_item.find('#price').val(cart_item.price);
          new_cart_item.find('#price_factor').val(cart_item.price_factor);
          new_cart_item.find('#price_supplement').val(cart_item.price_supplement);
          new_cart_item.find('#info').text(json_dumps(cart_item));

          new_cart_item.css('display','block');
        }
      })
    })
  })

  function remove_order_item(element){
    event.preventDefault();
    details = $(element.closest('details'));
    var item_id = details.find('#item_id').val();
    var order_id = details.find('#order_id').val();
    current_user.always(function(){
      var method = 'store_remove_order_item';
      var payload = {'order_id':order_id,'item_id':item_id};
      remoteCall(method,payload,false).done(function(response){
        details.remove();
        })
    })
  }

  function edit_order_item(element){
    event.preventDefault();
    details = $(element.closest('details'));
    var item_id = details.find('#item_id').val();
    var order_id = details.find('#order_id').val();
    var qty = details.find('#qty').val();
    var price = details.find('#price').val();
    var price_factor = details.find('#price_factor').val();
    var price_supplement = details.find('#price_supplement').val();
    current_user.always(function(){
      var method = 'store_edit_order_item';
      var payload = {'order_id':order_id,'item_id':item_id,'qty':qty,'price':price,'price_factor':price_factor,'price_supplement':price_supplement};
      remoteCall(method,payload,false).fail(function(){
        messageAlert('Upps... algo no esta bien.');
        })
    })
  }


</script>
