<!-- includes -->
{% include utils/messages.html %}
{% include utils/dialogs.html %}
<!-- includes -->
<style>

  .delete-item {
    margin-top: .3em;
    float:right;
    font-size: 12px;
  }
  .details-item {
    margin-top: .2em;
    float:right;
    font-size: 12px;
  }
  .link-item {
    margin-left:25px;
    font-size: 12px;
  }
  .cart-item {
    margin-bottom: 12px;
    display: none;
  }
  .summary {
    height: auto;
  }
  .info-state {
    background-color:#fdfdfd;
    white-space: pre-wrap;
    margin-bottom: 2px;
  }
  .summary-info{
    margin-bottom:38px;
  }
  .light-font{
    font:400 12px "Montserrat", sans-serif;
  }
</style>

<div class="pure-form">

  <legend>Órdenes</legend>
  <div class="pure-g">
    <div class="pure-u-1">
      <fieldset>
        <details id='pid-1' class='cart-item'>
          <input id='item_id' form='form-store' type='hidden' value='' name='items_id'>
          <summary class='summary'><h id='header_text'></h>
            <a onclick="go_to_order(this);" class='details-item'> Detalles <i class="fas fa-external-link-alt"></i></a>
          </summary>
          <div class="summary-info">
            <pre id='info_state' class='info-state'></pre>
            <a onclick="cancel_order(this);" class='delete-item'>Cancelar <i class="fas fa-eraser"></i></a>
          </div>
        </details>

      </fieldset>

    </div>

  </div>
</div>

<script>

  $(document).ready(function () {
    current_user.done(function(){
      apiCall('store','orders',{'cart_token':cart_token}).done(function(response){
        cart_items = response.orders;
        var cart_item;
        var cart_item_container = $('#pid-1')
        var header = ''
        for (var i = 0; i < cart_items.length; i++) {
          cart_item = cart_items[i]
          cart_item_container.clone().attr('id',cart_item.id).insertAfter($('#pid-1'));
          new_cart_item = $('#'+ cart_item.id );
          new_cart_item.find('#item_id').val(cart_item.id);
          if (cart_item.services_json){var no_services=cart_item.services_json.length}else{var no_services=0};
          if (cart_item.products_json){var no_products=cart_item.products_json.length}else{var no_products=0};
          header = '<b>' + cart_item.order_id + '</b><span class="light-font">'
          header += ' | ' + cart_item.date_created
          header += ' | ' + no_services + ' servicios - ' + no_products + ' productos'
          header += ' | ' + cart_item.status
          if (cart_item.payment_json.status == 'approved'){
            header += ' | Pagada'
          }
          header += '<span>'
          new_cart_item.find('#header_text').html(header);
          new_cart_item.find('#info_state').text(cart_item.info_state);

          if (cart_item.status == 'Solicitud' || (cart_item.status == 'Activa' && cart_item.payment_json.status == 'approved' )) {
            new_cart_item.find('.delete-item').css('display','none');
          }
          new_cart_item.css('display','block');
        }
      })
    }).fail(function(){
      location.replace('/login');
    })
  })

  function cancel_order(element){
    event.preventDefault();
    details = element.closest('details');
    id = $(details).prop('id');
    current_user.always(function(){
      showOkCancelDialog('Cancelar orden','La orden se cancelará de forma permanente.').done(function(){
        apiCall('store','cancel_order',{'order_item':id}).done(function(response){
          // details.remove();
          location.reload();
        })
      })
    })
  }
  function go_to_order(element){
    event.preventDefault();
    details = element.closest('details');
    id = $(details).prop('id');
    setCookie('active_order',id,1)
    location.replace('/order');
  }

</script>
