<script>
  var order_response = $.Deferred();
  var order_id = getCookie('active_order');
  current_user.always(function(){
    var method = 'store_order';
    var payload = {'order_id':order_id,'action':'consult'}
    remoteCall(method,payload,false).done(function(response){
      console.log(response);
      order_response.resolve(response.order).promise();
    }).fail(function(){
      order_response.reject(false).promise();
    });
  });
</script>

<!-- ---------includes--------- -->
{% include utils/messages.html %}
{% include store/form-store.html method='store_edit_order' %}
<!-- ---------includes--------- -->

<style>
  .delete-item {
    margin-top: .3em;
    float:right;
    font-size: 12px;
  }
  .add-item {
    margin-left: 20px;
    font-size: 12px;
  }
  .cart-item {
    margin-bottom: 12px;
    display: none;
  }
  .send-button {
    margin-left: 5px;
    line-height: 1em;
  }
  .item-total {
    margin-top: 3px;
  }
  .move-right {
    text-align:right;
  }
  .totales {
    padding-left: 20px !important;
  }
  .totales-texto {
    text-align: right;
  }
  .comment-input {
    margin-top: 3px;
    margin-bottom: 6px;
    padding:0px;
    height: auto;
    font:400 14px "Montserrat", sans-serif;
    background: transparent;
    border: 0px;
    width:auto;
  }
  .data-input {
    margin-top: 0px;
    padding:0px;
    height: auto;
    font:400 12px "Montserrat", sans-serif;
    background: transparent;
    border: 0px;
    width:auto;
    margin-bottom: 1px;
  }
  .notes {
    margin-top: 0px;
    padding:0px;
    height: auto;
    font:400 12px "Montserrat", sans-serif;
    background: transparent;
    border: 0px;
    width:auto;
    margin-bottom: 1px;
    white-space: pre-wrap;
  }
  .summary {
    height: auto;
    margin-bottom:25px;
  }
  .button-add {
      background: transparent;
      height: 2.25em;
  }
  .transparent {
    background: transparent;
    border: 0px;
    margin-bottom:5px;
    font:400 14px/1.5 "Montserrat", sans-serif
  }
  .logo {
    margin-left: 20px;
    height: 1.8em;
    width:20px;
    float: right;
  }
  .link-button {
    font-size: 12px;
    float:left;
  }
  .logo-header{
    float:right;
    color: #4b4b4b;
  }
  .logo-header img{
    height:60px;
  }
  .logo-text {
    color: #828282;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
  }
  .payment-status {
    paddin-top:3px;
    margin-left:17px;
    vertical-align: middle;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
  }
  .payment {
    display: none;
  }
  .download-link {
    text-align:right;
    margin-bottom:30px;
    font-family: 'Inconsolata', monospace;
  }
  .download-link a{
    color: #333;
  }
  .download-link a:visited{
    color: #333;
  }
  .item-info{
    background-color:#fdfdfd;
    margin-bottom:3px;
  }
  .admin-button {
    margin-top:4px;
    margin-bottom:8px;
  }
  .admin-button a {
    margin-right:18px;
  }
  .edit-button {
    margin-top:4px;
    font-size: 14px;
    float: right;
  }
  .admin-form {
    display: none;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .log-info {
    background-color:#fdfdfd;
    font-size: 11px;
    white-space: pre-wrap;
  }
  .info-state {
    background-color:#fdfdfd;
    background-color:transparent;
    white-space: pre-wrap;
    margin-bottom:3px;
  }
  .log-entry {
    height: 2em;
  }
  .view-container{
    float:right;
    font-size: 12px;
  }
  .view-container-title{
    float:right;
    font-size: 12px;
    margin-bottom:18px;
  }
  .suplemento {
    height: 1.8em;
    width: 110px;
    float:right;
  }
  .cantidad {
    margin-left: 2px;
    margin-right: 2px;
    height: 1.8em;
    width: 60px;
    float:right;
    text-align:right;
  }
  .precio {
    margin-left: 2px;
    margin-right: 14px;
    height: 1.8em;
    width: 90px;
    float:right;
    text-align:right;
  }
  .path-container{
    margin-top:3px;
    margin-bottom:3px;
    font:400 12px "Montserrat", sans-serif;
  }
  .float-container{
    float:right;
    text-align:left;
    width: 100%;
  }
  .mp-image{
    height:1.5em;
    filter: invert(1);
    margin-right:.5em;
  }
  .webuser-info{
    margin-bottom:30px;
  }
  .freight-img{
    width: 24px;
    display: inline-block;
    margin-left: 10px;
  }
  .light-font{
    font:400 12px "Montserrat", sans-serif;
  }
  .loading-price{
    font:400 12px "Montserrat", sans-serif;
  }

</style>

<div id='admin_form' class='admin-form'>
  <div class="pure-form pure-form-stacked">
    <fieldset>
      <legend>Servicio al cliente</legend>
      <div class="pure-g">
        <div class="pure-u-1 admin-button">
          <small>
          <a onclick="send_mail('orden_recibida');" ><i class="fas fa-at"></i> Orden recibida </a>
          <a onclick="send_mail('orden_activa');" ><i class="fas fa-at"></i> Orden activa </a>
          <a onclick="send_mail('acuse_pago');" ><i class="fas fa-at"></i> Acuse pago </a>
          <a onclick="send_mail('aviso_recolecion');" ><i class="fas fa-at"></i> Aviso recoleción </a>
          <a onclick="send_mail('aviso_envio');" ><i class="fas fa-at"></i> Aviso envio </a>
          </small>
          <br>
          <small>
          <a onclick="approve_payment('banktransfer');" ><i class="fas fa-check-square"></i> Aprobar pago con transferencia </a>
          <a onclick="approve_payment('cash');" ><i class="fas fa-check-square"></i> Aprobar pago en efectivo </a>
          </small>
          <button onclick="goto_edit_order();" class="pure-button pure-button-primary edit-button ">Editar <i class="fas fa-print"></i></button>
        </div>
        <div class="pure-u-1">
          <details>
            <summary>
              Orden JSON
            </summary>
            <pre id='order_json' class='log-info'></pre>
          </details>
          <details open>
            <summary>
              Bitácora interna
            </summary>
            <div class="pure-u-3-4">
              <fieldset class="pure-group">
                <input id='log-entry' name="title" type="text" class="pure-input-1 log-entry" placeholder="Entrada manual">
              </fieldset>
            </div>
            <div class="pure-u-1-5">
              <button onclick='order_log()' class="pure-button send-button transparent">Registrar <i class="fas fa-stream"></i></button>
            </div>
            <pre id='order_log' class='log-info'></pre>
          </details>
        </div>
        <div class="pure-u-1">
          <p id="message-text"></p>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class='webuser-info' id='webuser_info'>
  {% include store/message-orders.html %}
  <pre id='info_state' class='info-state'></pre>
  <!-- <a id='print_button' onclick="print_order(this);" class='link-button'> Imprimir <i class="fas fa-print"></i></a> -->
</div>

<div class="pure-form pure-form-stacked">
  <div class="pure-g">
    <div class="pure-u-1">
        <div class="logo-header">
          <img src="/assets/images/logo_hangarmx_black.svg"><br>
          ID: <span id ='order_webid' class="pure-input-1"></span>
        </div>
    </div>
    <div class="pure-u-1 payment-container">
    </div>
    <div class="pure-u-1">
      <fieldset class="pure-group">
        <h4 id ='title' class="pure-input-1"></h4>
        <pre id='description' class="pure-input-1 transparent"></pre>
      </fieldset>
    </div>
  </div>
</div>

<div class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Orden</legend>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-receipt"></i> Datos</label>
        Solicita: <b><span id ='addressed_to' class="pure-input-1"></span></b><br>
        Correo: <span id ='user_email' class="pure-input-1"></span><br>
        Razón social: <span id ='razon_social' class="pure-input-1"></span><br>
        RFC: <span id ='rfc' class="pure-input-1"></span><br>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-list-ul"></i> Estado</label>
        Estado: <b><span id ='status' class="pure-input-1"></span></b><br>
        Fecha:  <span id ='date_created' class="pure-input-1"></span><br>
        Fecha entrega: <span id ='date_delivery' class="pure-input-1"></span><br>
      </div>
      <div class="pure-u-1">
        <label><i class="fas fa-credit-card"></i> Pago</label>
        <a class='payment' id='mp-button' href="/"><button class="pure-button pure-button-primary"><img class='mp-image' src="/assets/images/mp_horizontal_blanco.png"> Realizar pago</button></a>
        <span id='payment-status' class='payment-status'></span>
      </div>
    </div>
  </fieldset>
</div>

<br>

<div id='services_container' class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g">
      <div class="pure-u-1">
        <legend>Servicios
          <div class='view-container-title'>
            <div class='precio'>x &nbsp;&nbsp;&nbsp;&nbsp; precio)</div>
            <div class='cantidad'>(cantidad</div>
            <div class='suplemento'>servicio  &nbsp;&nbsp;  + </div>
          </div>
        </legend>
      </div>
      <div class="pure-u-1">
        <details id='sid-1' class='cart-item'>
          <input type='hidden' id='qty' class='qty-input' >
          <input type='hidden' id='price_supplement' class='qty-input'>
          <input type='hidden' id='price' class='qty-input'>
          <input type='hidden' id='price_factor' class='qty-input'>
          <summary class='summary'>
            <h id='header_text'><b>Servicio</b>Nombre del articulo</h>
            <div class='view-container'>
              <div id='view_price' class='precio'></div>
              <div id='view_qty' class='cantidad'></div>
              <div id='view_supplement' class='suplemento'></div>
            </div>
            <div class='float-container'>
              <div id='text_path' class='path-container'></div>
            </div>
            <pre id='item_comment' class="pure-input-1 comment-input"></pre>
            <pre id='item_data' class="pure-input-1 data-input"></pre>
            <span  class='pure-input-1 item-total'><div id='item_total' class='move-right'></div></span>
          </summary>
          <pre class='item-info' id='info'></pre>
          <div id='download-cont' class="download-link"><a id='download-link' href='/'>Descargar <i class="far fa-file-archive"></i>.zip</a></div>
        </details>
      </div>
    </div>
  </fieldset>
</div>

<div id='products_container' class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g">
      <div class="pure-u-1">
        <legend>Productos
          <div class='view-container-title'>
            <div class='precio'>x &nbsp;&nbsp;&nbsp;&nbsp; precio)</div>
            <div class='cantidad'>(cantidad</div>
            <div class='suplemento'>suplemento  &nbsp;&nbsp;  + </div>
          </div>
        </legend>
      </div>
      <div class="pure-u-1">
        <details id='pid-1' class='cart-item'>
          <input type='hidden' id='qty' class='qty-input' >
          <input type='hidden' id='price_supplement' class='qty-input'>
          <input type='hidden' id='price' class='qty-input'>
          <input type='hidden' id='price_factor' class='qty-input'>
          <summary class='summary'>
            <h id='header_text'><b>Servicio</b>Nombre del articulo</h>
            <div class='view-container'>
              <div id='view_price' class='precio'></div>
              <div id='view_qty' class='cantidad'></div>
              <div id='view_supplement' class='suplemento'></div>
            </div>
            <div class='float-container'>
              <div id='text_path' class='path-container'></div>
            </div>
            <pre id='item_comment' class="pure-input-1 comment-input"></pre>
            <pre id='item_data' class="pure-input-1 data-input"></pre>
            <span  class='pure-input-1 item-total'><div id='item_total' class='move-right'></div></span>
          </summary>
          <pre class='item-info' id='info'></pre>
          <div id='download-cont' class="download-link"><a id='download-link' href='/'>Descargar <i class="far fa-file-archive"></i>.zip</a></div>
        </details>
      </div>
    </div>
  </fieldset>
</div>

<div class="pure-form pure-form-stacked">
    <legend>Total</legend>
    <div class="pure-g">
      <div class="pure-u-1-4 pure-u-md-1-2"></div>
      <div class="pure-u-1-3 pure-u-md-1-4">
        <fieldset class='totales-texto'>
          <span >Subtotal:</span><br>
          <span id='total_descuento_text' ><br></span>
          <span id='total_envio_text' ><br></span>
          <span >IVA 16%:</span><br><br>
          <span>Total:</span><br>
        </fieldset>
      </div>
      <div class="pure-u-1-3 pure-u-md-1-4">
        <fieldset class='totales'>
          <span id='subtotal'></span><br>
          <span id='total_descuento'><br></span>
          <span id='total_envio'><br></span>
          <span id='total_iva'></span><br><br>
          <span id='total'></span><br>
        </fieldset>
      </div>
    </div>
</div>

<div class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Entrega</legend>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-user"></i> Contacto</label>
        <span class='light-font'>
          <span id="nombre" class="pure-input-1" ></span><br>
          <span id="email"  class="pure-input-1" ></span><br>
        </span>
        <label><i class="fas fa-map-marked-alt"></i> Dirección</label>
        <pre id='address_data' class="pure-input-1 notes"></pre>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-dolly"></i> Envío</label>
        <span class='light-font'>
          <input disabled form='form-store' type="radio" name="shipping" id="workshop" value="workshop"><span class='freight-img'><i class="fas fa-map-marker-alt"></i></span> Recoger en planta<br>
          <input disabled form='form-store' type="radio" name="shipping" id="delivery" value="delivery" checked><span class='freight-img'><i class="fas fa-truck"></i></span> Envío a domicilio <strong>FedEx</strong><br>
        </span>
        <br>
        <pre id='shippment_data' class="pure-input-1 notes"></pre>
      </div>
    </div>
  </fieldset>
</div>

<div class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Anexo</legend>
    <div class="pure-g">

      <div class="pure-u-1">
        <label><i class="fas fa-receipt"></i> Notas</label>
        <pre id='notes' class="pure-input-1 notes"></pre>
        <pre class="pure-input-1 notes">
Para compras en línea que contienen solo productos los árticulos normalmente se entregan en un lapso de 3 a 5 días. Dependiendo de la solcitud, por lo regular el lapso para entregar los árticulos de las compras en linea con servicios es de 5 a 15 días.
        </pre>
      </div>
    </div>
  </fieldset>
</div>

<div class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Información</legend>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-receipt"></i> Empresa</label>
          <pre class="pure-input-1 notes">
Harco Mexicana S.A.
HME7607197Y1

Lago Tláhuac 33, Anáhuac,
Miguel Hidalgo, CDMX, 11320.
hmx@hangarmx.com
          </pre>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-list-ul"></i> Transferencia</label>
        <pre class="pure-input-1 notes">
Harco Mexicana S.A.
Cuenta BBVA: 0443928284
CLABE  BBVA: 012180004439282840

Envíanos el comprobante junto con el número de orden a: hmx@hangarmx.com. De ser posible utiliza ese número como referencia de la transacción.
        </pre>
      </div>

    </div>
  </fieldset>
</div>

<input id='oid' type='hidden' value=''>

<script>

  $(document).ready(function () {
    order_response.done(function(response){

      // Activa el menu de edicion
      if (response.admin == 1){
        $('#order_log').text(log_to_txt(response.log_json));
        $('#order_json').text(json_dumps(response));
        $('#admin_form').css('display','block');
      }
      $('#oid').val(response.id);
      $('#address_data').text(json_address(response.address_json));
      update_form(response.contact_json);
      update_form(response.invoice_json);

      update_shipping(response.shipping);
      $('#date_created').text(response.date_created);
      $('#date_delivery').text(response.date_delivery);
      $('#status').text(response.status);
      $('#user_email').text(response.user_email);
      $('#order_webid').text(response.order_id);
      $('#addressed_to').text(response.addressed_to);
      $('#info_state').text(response.info_state);
      if (response.title) {
        $('#title').text(response.title);
      }else{
        $('#title').css('display','none');
      }
      if (response.description) {
        $('#description').text(response.description);
      }else{
        $('#description').css('display','none');
      }
      if (response.notes) {
        $('#notes').text(response.notes);
      }else{
        $('#notes').css('display','none');
      }

      var mp_active = false;
      if (response.status == 'Activa' && response.mp_json.preference && response.payment_json.status != 'approved' ){
        $('#mp-button').attr("href",response.mp_json.preference.sandbox_init_point);
        $('#mp-button').css('display','unset');
        mp_active = true;
      }

      var status = '';
      if (response.payment_json.status == 'approved'){
        status = 'Aprobado'
      }else if (response.payment_json.status == 'pending'){
        status = 'Pendiente'
      }
      if (mp_active == false && response.payment_json.status != 'approved'){
        $('#payment-status').html('<span class="loading-price">Calculando</span>');
      }else{
        $('#payment-status').text(status)
      }
      // Mostrar los precios solo cuando esten listos
      var show_prices = false;
      if (response.status != 'Solicitud' && response.status != 'Procesando') {
        show_prices = true;
      }

      if (response.shipping == 'delivery' && show_prices) {
        $('#shippment_data').text(json_dumps(response.shippment_json));
      }else{
        $('#shippment_data').css('display','none');
      }

      var cart_item;
      if (response.services_json){
        cart_items = response.services_json;
        for (var i = 0; i < cart_items.length; i++) {
          cart_item = cart_items[i]
          update_cart_item(cart_item,response.id,show_prices,'#sid-1');
        }
      }else{$('#services_container').hide()}

      if (response.products_json){
        cart_items = response.products_json;
        for (var i = 0; i < cart_items.length; i++) {
          cart_item = cart_items[i]
          update_cart_item(cart_item,response.id,true,'#pid-1');
        }
      }else{$('#products_container').hide()}

      update_total(response.discount,show_prices,(response.shipping == 'delivery'),response.shippment_json.precio_estimado);

    })
  })
  function update_cart_item(cart_item,order_id,show_prices,details_id){

    var cart_item_container = $(details_id);
    cart_item_container.clone().attr('id',cart_item.id).insertAfter(cart_item_container);
    new_cart_item = $('#'+ cart_item.id );
    new_cart_item.find('#header_text').html('<b>' + cart_item.type + '</b>      ' + cart_item.layout);
    new_cart_item.find('#qty').val(cart_item.qty);
    new_cart_item.find('#price').val(cart_item.price);
    new_cart_item.find('#price_factor').val(cart_item.price_factor);
    new_cart_item.find('#price_supplement').val(cart_item.price_supplement);
    new_cart_item.find('#view_qty').text(cart_item.qty);
    new_cart_item.find('#text_path').text(cart_item.layout +' / '+ cart_item.group +' / '+ cart_item.type +' / '+ cart_item.pid);
    if (show_prices){
      new_cart_item.find('#view_price').text(formatCurrency(cart_item.price*cart_item.price_factor));
      if (cart_item.price_supplement) {
        new_cart_item.find('#view_supplement').text(formatCurrency(cart_item.price_supplement));
      }else{
        new_cart_item.find('#view_supplement').text('');
      }
      calculate_item_total(new_cart_item);
      new_cart_item.find('#item_comment').text(cart_item.comment);
    }

    new_cart_item.find('#item_data').text(json_data(cart_item.data_json));

    var json_order = json_order_item(cart_item);
    if (json_order != '') {
      new_cart_item.find('#info').text(json_order);
    }else{
      new_cart_item.find('#info').css('display','none');
    }

    if (cart_item.file_url != null) {
      new_cart_item.find('#download-link').prop('href',cart_item.file_url);
    }else{
      new_cart_item.find('#download-cont').css('display','none');
    }
    new_cart_item.css('display','block');
  }

  function calculate_item_total(element){
    details = $(element.closest('details'));
    var item_id = details.find('#item_id').val();
    var qty = details.find('#qty').val();
    var price = details.find('#price').val();
    var price_factor = details.find('#price_factor').val();
    var price_supplement = details.find('#price_supplement').val();
    var total = qty * price * price_factor
    if (price_supplement){
      total += parseFloat(price_supplement)
    }
    details.find('#item_total').text(formatCurrency(total));

  }
  function order_log(){
    var order_id = $('#oid').val();
    var log_entry = $('#log-entry').val();
    current_user.always(function(){
      var method = 'store_order_log';
      var payload = {'order_id':order_id,'entry':log_entry};
        remoteCall(method,payload,false).done(function(response){
          $('#log-entry').val('');
          $('#order_log').text(log_to_txt(response.order.log_json));
          messageInfo('¡Bitácora actualizada!');
        }).fail(function(){
          messageAlert('Upps... algo no esta bien.');
        })
      });
  }
  function send_mail(mail_type){
    var order_id = $('#oid').val();
    current_user.always(function(){
      var method = 'store_send_mail';
      var payload = {'order_id':order_id,'mail_type':mail_type};
      showOkCancelDialog('Enviar '+ mail_type,'Revisa que el estado de la orden coincida con el tipo de correo a mandar y que no esté ya registrado en la bitacora.').done(function(){
        remoteCall(method,payload,false).done(function(response){
          $('#order_log').text(log_to_txt(response.order.log_json));
          messageInfo('¡Corre enviado!');
        }).fail(function(){
          messageAlert('Upps... algo no esta bien.');
        })
      });
    })
  }
  function approve_payment(payment_method){
    var order_id = $('#oid').val();
    current_user.always(function(){
      var method = 'store_approve_payment';
      var payload = {'order_id':order_id,'payment_method':payment_method};
      showOkCancelDialog('Aprobar pago','Metodo: ' + payment_method).done(function(){
        remoteCall(method,payload,false).done(function(response){
          location.reload();
        }).fail(function(){
          messageAlert('Upps... algo no esta bien.');
        })
      });
    })
  }
  function print_order(element){
    $('#webuser_info').css('display','none');
    $('#admin_form').css('display','none');
    $('#script-mercadopago').css('display','none');
    $('footer').css('display','none');
    $('.site-header').css('display','none');
    print();
    location.reload();
  }
  function goto_edit_order(){
    location.replace(document.location.href.replace('order','order-edit'));
  }
  function json_address(json_data){
    var address = ''
    address += json_data.calle + ' ' + json_data.numero_ext + '    ' + json_data.numero_int + '\n'  ;
    address += json_data.colonia + '   ' + json_data.municipio + '\n'  ;
    address += json_data.estado + '   ' + json_data.cp + '\n'  ;
  	return address
  }
  function update_total(discount,show_prices,shipping,shippment_cost){

    if (show_prices == false){
      if (discount) {
        $("#total_descuento_text").html('Descuento ' + discount + '%:<br>' );
      } else {
        $("#total_descuento").remove();
        $("#total_descuento_text").remove();
      }
      if (shipping) {
        $("#total_envio_text").html('Envío:<br>' );
      } else {
        $("#total_envio").remove();
        $("#total_envio_text").remove();
      }
      $("#total").html('<span class="loading-price">Calculando</span><br>');
      return
    }

    var total = 0;
    var iva = .16;
    var total_discount = 0;
    var total_iva = 0;
    var subtotal = 0;
    $(".item-total").each(function() {
      var n = parseCurrency($(this).text());
      if (n) {
        subtotal += n;
      }
    });
    if (discount) {
      total_discount = subtotal * (discount/100);
      total = subtotal - total_discount;
    }else{
      total = subtotal;
    };
    total += shippment_cost;
    total_iva = total * iva;
    total += total_iva;

    $("#subtotal").text(formatCurrency(subtotal));
    $("#total_iva").text(formatCurrency(total_iva));
    $("#total").text(formatCurrency(total,'MXN'));
    if (discount) {
      $("#total_descuento").html(formatCurrency(total_discount)+'<br>');
      $("#total_descuento_text").html('Descuento ' + discount + '%:<br>' );
    } else {
      $("#total_descuento").remove();
      $("#total_descuento_text").remove();
    }
    if (shipping) {
      $("#total_envio").html(formatCurrency(shippment_cost)+'<br>');
      $("#total_envio_text").html('Envío:<br>' );
    } else {
      $("#total_envio").remove();
      $("#total_envio_text").remove();
    }
  }
  function update_shipping(method){
    $('#'+method).attr("checked","checked");
  }
  function update_form(address) {
    Object.keys(address).forEach(function(key) {
      $('#'+key).text(address[key]);
    });
  }

</script>
