<!-- ---------includes--------- -->
{% include utils/messages.html %}
{% include store/form-store.html method='store_form_order' %}
<!-- ---------includes--------- -->

<style>
  .delete-item {
    margin-top: .1em;
    float:right;
    font-size: 12px;
  }
  .cart-item {
    margin-bottom: 12px;
    display: none;
  }
  .send-button {
    width : 100% ;
    line-height: 1.3em;
  }
  .qty-input {
    margin-left: 20px;
    height: 1.8em;
    float: right;
  }
  .summary {
    min-height: 2.1em;
    height:auto;
  }
  .item-info{
    white-space: pre-wrap;
    margin-bottom: 2px;
    background-color:#fdfdfd;
  }
  .summary-info{
    margin-bottom:48px;
  }

</style>

<div class="pure-form">

  <legend>Productos</legend>
  <div class="pure-g">
    <div class="pure-u-1">
      <fieldset>

        <details id='pid-1' class='cart-item'>
          <input id='item_id' form='form-store' type='hidden' value='' name='items_id'>
          <summary class='summary'><h id='header_text'><b>Servicio</b>Nombre del articulo</h>
            <input required id='qty' onchange="edit_item_qty(this)" class='qty-input' type='number' name='qty' value='1' min='1' max='99'>
          </summary>
          <div class="summary-info">
            <pre class='item-info' id='info'></pre>
            <a onclick="remove_cart_item(this);" class='delete-item'>Borrar <i class="fas fa-trash"></i></a>
          </div>
        </details>

      </fieldset>
    </div>
  </div>
</div>

{% include store/input-user-info.html %}

<div class="pure-form">
  <legend>Todo listo</legend>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <button form='form-store' type="submit" class="pure-button send-button pure-button-primary">Cotizar <i class="fas fa-receipt"></i></button>
    </div>
    <div class="pure-u-1">
      <p id="message-text"></p>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    current_user.always(function(){
      var method = 'store_cart_items';
      var payload = {'cart_token':cart_token}
      remoteCall(method,payload,false).done(function(response){
        cart_items = response.cart_items;
        var cart_item;
        var cart_item_container = $('#pid-1')
        for (var i = 0; i < cart_items.length; i++) {
          cart_item = cart_items[i]
          cart_item_container.clone().attr('id',cart_item.id).insertAfter($('#pid-1'));
          new_cart_item = $('#'+ cart_item.id );
          new_cart_item.find('#item_id').val(cart_item.id);
          new_cart_item.find('#header_text').html('<b>' + cart_item.type + '</b>      ' + cart_item.layout);
          new_cart_item.find('#qty').val(cart_item.qty);
          new_cart_item.find('#info').text(json_item(cart_item));
          new_cart_item.css('display','block');
        }
      })
    })
  })

  function remove_cart_item(element){
    event.preventDefault();
    details = element.closest('details');
    id = $(details).prop('id');
    current_user.always(function(){
      var method = 'store_remove_cart_item';
      var payload = {'cart_item':id};
      showOkCancelDialog('Borrar elemento','Se elimiará de forma permanente.').done(function(){
        remoteCall(method,payload,false).done(function(response){
          details.remove();
        });
      });
    })
  }

  function edit_item_qty(element){
    event.preventDefault();
    details = element.closest('details');
    var id = $(details).prop('id');
    var qty = $(details).find('#qty').val();
    current_user.always(function(){
      var method = 'store_edit_item_qty';
      var payload = {'cart_item':id,'qty':qty};
      remoteCall(method,payload,false).fail(function(){
        messageAlert('Upps... algo no esta bien.');
        })
    })
  }

  function parse_cart_item(cart_item){
    delete cart_item.payload_json['item_type'];
    delete cart_item.payload_json['cart_token'];
    var json_info = {'Información':cart_item.payload_json};
    if (cart_item.files_json) {
      var filenames = []
      for (var e = 0; e < cart_item.files_json.length; e++) {
        console.log(cart_item.files_json[e]['filename']);
        filenames.push(cart_item.files_json[e]['filename']);
      }
      json_info['Archivos'] = filenames;

    }
    return JSON.stringify(json_info, null, '  ').replace('[\n', '').replace(']', '').replace(/"/g, '').replace('_json', '').replace(/,/g, '').replace(/,/g, '').replace(/{/g, '').replace(/}/g, '');
  }

</script>
