<!-- ---------includes--------- -->
{% include utils/messages.html %}
{% include store/form-store.html method='store_edit_order' %}
<!-- ---------includes--------- -->

<style>
  .delete-item {
    margin-top: .3em;
    float:right;
    font-size: 12px;
  }
  .add-item {
    margin-left: 20px;
    font-size: 12px;
  }
  .cart-item {
    margin-bottom: 12px;
    display: none;
  }
  .send-button {
    width : 100% ;
    line-height: 1.3em;
  }
  .item-total {
    margin-top: 3px;
  }
  .move-right {
    text-align:right;
  }
  .totales {
    margin-left: 20px;
  }
  .totales-texto {
    float: right;
  }
  .comment-input {
    margin-top: 3px;
    margin-bottom: 6px;
    padding:0px;
    height: auto;
    font:400 14px "Montserrat", sans-serif;
    background: transparent;
    border: 0px;
    width:auto;
  }
  .data-input {
    margin-top: 0px;
    padding:0px;
    height: auto;
    font:400 12px "Montserrat", sans-serif;
    background: transparent;
    border: 0px;
    width:auto;
    margin-bottom: 1px;
  }
  .notes {
    margin-top: 0px;
    padding:0px;
    height: auto;
    font:400 12px "Montserrat", sans-serif;
    background: transparent;
    border: 0px;
    width:auto;
    margin-bottom: 1px;
  }
  .summary {
    height: auto;
  }
  .button-add {
      background: transparent;
      height: 2.25em;
  }
  .transparent {
    background: transparent;
    border: 0px;
    margin-bottom:5px;
    font:400 14px/1.5 "Montserrat", sans-serif
  }
  .item-view_supplement{
    text-align:right;
  }
  .suplemento {
    margin-right: 60px;
    height: 1.8em;
    width: auto;
    float: right;
    text-align:middle;
  }
  .cantidad {
    margin-left: 20px;
    height: 1.8em;
    width: 80px;
    float: right;
    text-align: right;
  }
  .precio {
    margin-left: 20px;
    height: 1.8em;
    width: 90px;
    float: right;
    text-align:middle;
  }
  .logo {
    margin-left: 20px;
    height: 1.8em;
    width:20px;
    float: right;
    text-align:middle;
  }
  .link-button {
    margin-left:30px;
  }
  .logo-header{
    float:right;
  }
  .logo-header img{
    height:60px;
  }
  .logo-text {
    color: #828282;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
  }
</style>

<div class="pure-form pure-form-stacked">
<div class="pure-g">
  <div class="pure-u-1">
    <fieldset class="pure-group">
      ID: <span id ='order_webid' class="pure-input-1"></span>
      <a id='print_button' onclick="print_order(this);" class='link-button'> Imprimir <i class="fas fa-print"></i></a>
      <a id='edit_button' onclick="goto_edit_order();" class='link-button'> Editar <i class="fas fa-print"></i></a>
      <div class="logo-header">
        <span class='logo-text'>store.dfmd.mx</span>
        <img  src="/assets/images/noun_carbon.svg" alt="006 Carbon C by Joel Wisneski from the Noun Project">
      </div>
    </fieldset>
    <fieldset class="pure-group">
      <h4 id ='title' class="pure-input-1"></h4>
      <pre id='description' class="pure-input-1 transparent"></pre>
    </fieldset>
  </div>
</div>
</div>

<div class="pure-form pure-form-stacked">
    <legend>Pago</legend>
    <div class="pure-g">
      <div class="pure-u-1">
        <label><i class="fas fa-receipt"></i> MercadoPago</label>
        <fieldset class="pure-group">
            <form id = "script-mercadopago" action="/" method="POST">
            </form>
        </fieldset>
      </div>
    </div>
</div>

<div class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Información</legend>
    <div class="pure-g">

      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-receipt"></i> Datos</label>
        Solicita: <b><span id ='addressed_to' class="pure-input-1"></span></b><br><br>
        Correo: <span id ='user_email' class="pure-input-1"></span><br>
        Razón social: <span id ='razon_social' class="pure-input-1"></span><br>
        RFC: <span id ='rfc' class="pure-input-1"></span><br>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-list-ul"></i> Estado</label>
        Estado: <b><span id ='status' class="pure-input-1"></span></b><br><br>
        Fecha:  <span id ='date_created' class="pure-input-1"></span><br>
        Fecha entrega: <span id ='date_delivery' class="pure-input-1"></span><br>
      </div>

    </div>
  </fieldset>
</div>

<br>

<div class="pure-form">
  <legend>Productos

    <span class='precio'>precio unit. )</span>
    <span class='cantidad'>( cantidad</span>
    <span class='suplemento' >suplemento +</span>
  </legend>
  <div class="pure-g">
    <div class="pure-u-1">
      <fieldset>
        <details id='pid-1' class='cart-item'>
          <summary class='summary'>
            <h id='header_text'><b>Servicio</b>Nombre del articulo</h>
            <input type='hidden' id='qty' class='qty-input' >
            <input type='hidden' id='price_supplement' class='qty-input'>
            <input type='hidden' id='price' class='qty-input'>
            <input type='hidden' id='price_factor' class='qty-input'>

            <span id='view_price' class='precio'></span>
            <span id='view_qty' class='cantidad'></span>
            <span id='view_supplement' class='suplemento' ></span>

            <pre id='item_comment' class="pure-input-1 comment-input"></pre>
            <pre id='item_data' class="pure-input-1 data-input"></pre>

            <span  class='pure-input-1 item-total'><div id='item_total' class='move-right'></div></span>
          </summary>
          <pre id='info'></pre>
        </details>
      </fieldset>
    </div>
  </div>
</div>

<div class="pure-form">
  <legend>Totales</legend>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <fieldset>
        <input id='discount' value='' name="discount" type='hidden'>
      </fieldset>
    </div>
    <div class="pure-u-1-4">
      <fieldset>
        <span class='totales-texto'>Subtotal:</span><br>
        <span id='total_descuento_text' class='totales-texto'>-</span><br>
        <span class='totales-texto'>IVA 16%:</span><br>
        <span class='totales-texto'>Total:</span><br>
      </fieldset>
    </div>
    <div class="pure-u-1-4">
      <fieldset>
        <span id='subtotal' class='totales'></span><br>
        <span id='total_descuento' class='totales'></span><br>
        <span id='total_iva' class='totales'></span><br>
        <span id='total' class='totales'></span><br>
      </fieldset>
    </div>

  </div>
</div>

<br>

<div class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Entrega</legend>
    <div class="pure-g">

      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-user"></i> Contacto</label>
        <span id="nombre" class="pure-input-1" ></span><br>
        <span id="email"  class="pure-input-1" ></span><br>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
        <label><i class="fas fa-map-marked-alt"></i> Dirección</label>
        <pre id='address_data' class="pure-input-1 notes"></pre><br>
        <input disabled id="delivery" type="radio" name="shipping" value="delivery"> <i class="fas fa-truck"></i> Envio a domicilio<br>
        <input disabled id="workshop" type="radio" name="shipping" value="workshop"> <i class="fas fa-map-marker-alt"></i> Recojer en planta
      </div>

    </div>
  </fieldset>
</div>

<div class="pure-form pure-form-stacked">
    <legend>Notas</legend>
    <div class="pure-g">
      <div class="pure-u-1">
        <label><i class="fas fa-receipt"></i> Comentarios</label>
        <fieldset class="pure-group">
          <pre id='notes' class="pure-input-1 notes"></pre>
          <pre class="pure-input-1 notes">
Precios en pesos mexicanos.
No incluye flete a menos que se incluya como partida.
          </pre>
        </fieldset>
      </div>
      <div class="pure-u-1">
        <label><i class="fas fa-list-ul"></i> Empresa</label>
        <fieldset class="pure-group">
          <pre class="pure-input-1 notes">
Harco Mexicana S.A.
HME7607197Y1
Lago Tláhuac 33, Anahuac,
Miguel Hidalgo, CDMX, 11320.
io@dfmd.mx

Cuenta BBVA: 0443928284
CLABE  BBVA: 012180004439282840
          </pre>
        </fieldset>
      </div>
    </div>
</div>

<script>

  $(document).ready(function () {
    var order_id = getCookie('active_order');
    console.log(order_id);
    current_user.always(function(){
      var method = 'store_order';
        var payload = {'order_id':order_id,'action':'consult'}
      remoteCall(method,payload,false).done(function(response){
        console.log(response)

        $('#address_data').text(json_address(response.address_json));
        update_form(response.contact_json);
        update_form(response.invoice_json);
        update_shipping(response.shipping);
        $('#date_created').text(response.date_created);
        $('#date_delivery').text(response.date_delivery);
        $('#status').text(response.status);
        $('#user_email').text(response.user_email);
        $('#order_webid').text(response.order_id);
        $('#discount').val(response.discount);
        $('#addressed_to').text(response.addressed_to);
        $('#script-mercadopago').html('<script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js" data-preference-id="' + response.preferenceResult.response.id + '<script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js" data-preference-id="' + response.preferenceResult.response.id + '"></script>');
        if (response.title) {
          $('#title').text(response.title);
        }else{
          $('#title').css('display','none');
        }
        if (response.description) {
          $('#description').text(response.description);
        }else{
          $('#description').css('display','none');
        }
        if (response.notes) {
          $('#notes').text(response.notes);
        }else{
          $('#notes').css('display','none');
        }
        console.log('admin',response.admin);
        if (response.admin != 1){
          $('#edit_button').css('display','none');
        }
        var show_prices = false;
        if (response.status != 'Solicitud' && response.status != 'Procesando') {
          show_prices = true;
        }
        cart_items = response.items_json;
        var cart_item;

        for (var i = 0; i < cart_items.length; i++) {
          cart_item = cart_items[i]
          update_cart_item(cart_item,response.id,show_prices);
        }
        if (show_prices){
          update_total();
        }
      })
    })
  })

  function print_order(element){
    $('#print_button').css('display','none');
    $('#edit_button').css('display','none');
    $('footer').css('display','none');
    $('.site-header').css('display','none');
    print();
    location.reload();
  }
  function goto_edit_order(){
    location.replace(document.location.href.replace('order','order-edit'));
  }

  function json_data(json_data){
  	return 'Información:\n' + JSON.stringify(json_data, null, '  ').replace('[\n', '').replace('[', '').replace(']', '').replace(/"/g, '').replace(/,/g, '').replace(/,/g, '').replace(/{\n/g, '').replace(/}/g, '')
  }
  function json_address(json_data){

    var address = ''
    address += json_data.calle + ' ' + json_data.numero_ext + '    ' + json_data.numero_int + '\n'  ;
    address += json_data.colonia + '   ' + json_data.municipio + '\n'  ;
    address += json_data.estado + '   ' + json_data.cp + '\n'  ;
  	return address
  }

  function update_cart_item(cart_item,order_id,show_prices){
    var cart_item_container = $('#pid-1')
    cart_item_container.clone().attr('id',cart_item.id).insertAfter($('#pid-1'));
    new_cart_item = $('#'+ cart_item.id );

    new_cart_item.find('#header_text').html('<b>' + cart_item.type + '</b>      ' + cart_item.layout);

    new_cart_item.find('#qty').val(cart_item.qty);
    new_cart_item.find('#price').val(cart_item.price);
    new_cart_item.find('#price_factor').val(cart_item.price_factor);
    new_cart_item.find('#price_supplement').val(cart_item.price_supplement);
    new_cart_item.find('#view_qty').text(cart_item.qty);
    if (show_prices){
      new_cart_item.find('#view_price').text(formatCurrency(cart_item.price*cart_item.price_factor));
      if (cart_item.price_supplement) {
        new_cart_item.find('#view_supplement').text(formatCurrency(cart_item.price_supplement));
      }else{
        new_cart_item.find('#view_supplement').text('');
      }
      calculate_item_total(new_cart_item);
      new_cart_item.find('#item_comment').text(cart_item.comment);
    }

    new_cart_item.find('#item_data').text(json_data(cart_item.data_json));
    if (current_user.admin) {
      new_cart_item.find('#info').text(json_dumps(cart_item));
    }else{
      new_cart_item.find('#info').text(json_item(cart_item));
    }
    new_cart_item.css('display','block');
  }

  function calculate_item_total(element){
    details = $(element.closest('details'));
    var item_id = details.find('#item_id').val();
    var qty = details.find('#qty').val();
    var price = details.find('#price').val();
    var price_factor = details.find('#price_factor').val();
    var price_supplement = details.find('#price_supplement').val();
    var total = qty * price * price_factor
    if (price_supplement){
      total += parseFloat(price_supplement)
    }
    details.find('#item_total').text(formatCurrency(total));

  }

  function update_total(){
    var total = 0;
    var iva = .16;
    var discount = parseFloat($('#discount').val());
    var total_discount = 0;
    var total_iva = 0;
    var subtotal = 0;
    $(".item-total").each(function() {
      var n = parseCurrency($(this).text());
      if (n) {
        console.log(n);
        subtotal += n;
      }
    });
    if (discount) {
      total_discount = subtotal * (discount/100);
      total = subtotal - total_discount;
    }else{
      total = subtotal;
    };

    total_iva = total * iva;
    total += total_iva;

    $("#subtotal").text(formatCurrency(subtotal));
    $("#total_iva").text(formatCurrency(total_iva));
    $("#total").text(formatCurrency(total));

    if (discount) {
      $("#total_descuento").text(formatCurrency(total_discount));
      $("#total_descuento_text").text('Descuento ' + discount + '%:' );
    } else {
      $("#total_descuento").text('-');
      $("#total_descuento_text").text('-');
    }
  }

  function update_shipping(method){
    $('#'+method).attr("checked","checked");
  }

  function update_form(address) {
    Object.keys(address).forEach(function(key) {
      $('#'+key).text(address[key]);
    });
  }

</script>
