{% capture path %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}
<div class='mx-file file-binder'>
  {% if include.caption %}
    <div class='caption'>
      {{ include.caption }}
    </div>
  {% endif %}
  {% for file in site.static_files %}
    {% if file.path contains path and file.path contains include.filter %}
      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last %}
        <a class="pure-button" href="{{ file.path}}" download><i class="fas fa-download"></i> GitHub download</a> - {{ filename }}
    {% endif %}
  {% endfor %}
  <div class='footer'><b>Note: </b>{% if include.note %}{{include.note}}{% else %} This files are shared as they are. With no specific intent.{% endif %}</div>
</div>
