<style>
  .contact-button {
    font-size: 12px;
  }
  .no-hover a:hover  {
    text-decoration: unset;
  }
  .copyright {
    font-size: 12px;
    color: #828282;
  }
  .footer-nav-heading {
    height: 20px;
    margin-bottom: 12px;
    margin-top: 0px;
    text-align: right;
  }
  .footer-just {
    text-align: justify;
  }
  .footer-col-3 {
    font-size: 11px;
  }
  .nav-tools{
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
</style>

<footer class="site-footer h-card">



  <div class="modal"><!-- Place at bottom of page --></div>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="nav-tools footer-nav-heading">
    <a href="/"><i class="fas fa-home"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-arrow-circle-up"></i></a>
  </div>

  

  <div class="wrapper">


    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        <ul class="contact-list no-hover">
            <li class="p-name"></li>
            <li><a class="contact-button pure-button" href="/contact">Contáctanos <i class="fas fa-satellite-dish"></i></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2 footer-just">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-1">
        <div class="copyright">
          Copyright © 2020 {{ site.title | escape }}.<br>
          <a href='/lineamientos-dibujo'>Lineamientos para preparar tu dibujo</a><br>
          <a href='/politica-maquila-entrega'>Política de maquila y entrega</a><br>
          <br>
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>

      </div>

    </div>

  </div>

</footer>
