<style>
  .banner {
    font-size: 11px;
    background-color: #d24040;
    height: auto;
    margin-bottom: 15px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1em;
    text-align: center;
  }
  .banner a {
    color: white;
  }
  .banner a:visited{
    color: white;
  }
  .banner a:hover {
    text-decoration: none;
  }
</style>

<div class='banner'>
  <div class='wrapper'>
  <i class="fas fa-exclamation-triangle"></i><b> Barcelona 2023</b> Nos estamos preparando para la apertura. Consulta con nosotros si podemos aceptar tu pedido antes de realizar la compra en linea. Te ofrecemos una disculpa por la demora que esto ocasiona.<br>
  <a class="u-email" href="mailto:{{ site.email }}"><i class="far fa-envelope"></i> hmx@hangarmx.com</a><br>
</div>
</div>
