
<style>

    .image-gallery  {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .perfundo__overlay{display:-webkit-box;display:-ms-flexbox;display:flex;visibility:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:rgba(0,0,0,.9)}
    .perfundo__overlay.is-active,
    .perfundo__overlay:target{visibility:visible}
    .perfundo__content{max-height:100%;overflow:auto}
    .is-active>
    .perfundo__content,
    :target>
    .perfundo__content{-webkit-animation:.4s ease-out .2s both;animation:.4s ease-out .2s both;-webkit-animation-name:inherit;animation-name:inherit}
    .perfundo__html{padding:2em;max-width:42em;background-color:#fff}
    .perfundo__figure{display:none;margin:1.5em}.is-active>
    .perfundo__figure,:target>.perfundo__figure{display:block}
    .perfundo__figure img{display:block;height:0}
    .perfundo__figcaption{color:#fff}
    .perfundo__image{max-width:100%;background-size:100%}
    .perfundo__control{position:absolute}
    .perfundo__control,.perfundo__control:visited{color:#fff}
    .perfundo__close{top:1em;right:1em}
    .perfundo__prev{left:2em}
    .perfundo__next{right:2em}
    .perfundo__untarget{position:fixed;top:0}
    .perfundo__next,
    .perfundo__prev{top:50%;margin-top:-1.5em;opacity:.2;-webkit-transition:opacity .2s;transition:opacity .2s}
    .perfundo__next:focus,
    .perfundo__next:hover,
    .perfundo__prev:focus,
    .perfundo__prev:hover{opacity:1}
    .perfondo__pureimage{height:70%;}

</style>


{% capture binderPath %}/assets/binder/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{% endcapture %}

{% if include.folder %}
  {% assign folder = include.folder %}
{% else %}
  {% assign folder= binderPath | append: include.name %}
{% endif %}

<div class='image-gallery'>
  <div class='pure-g'>
    
    {% assign img_count = 1 %}
    {% assign row_count = 1 %}
    {% for file in site.static_files %}
    {% if file.path contains folder %}
    {% if file.extname == '.PNG' or file.extname == '.png' or file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' or file.extname == '.png'%}
    {% assign filenameparts = file.path | split: "/" %}
    {% assign filename = filenameparts | last | replace: file.extname,"" %}
    {% assign img_count = img_count | plus: 1 %}
    {% assign row_count = row_count | plus: 1 %}

    <div class="pure-u-1-4">
      <div class="perfundo">
        <a class="perfundo__link" href="#perfundo-img{{ folder }}{{ img_count }}">
          <img class='pure-img' src="{{site.data.callback.th-url}}{{ file.path | replace: '/','_' }}" alt="{{ filename }}" title="{{ filename }}" />
        </a>
        <div id="perfundo-img{{ folder }}{{ img_count }}" class="perfundo__overlay fadeIn">
          <div class='pure-u-1-2' style='margin:auto'>
            <img style='max-height:100vh' class ='pure-img' src="{{ file.path }}" alt="Demo image">
          </div>
          <a href="#perfundo-untarget" class="perfundo__close perfundo__control">Cerrar</a>
          <a class="perfundo__next perfundo__control" href="#perfundo-img{{ folder }}{{ img_count | plus: 1 }}"> >>> </a>
        </div>
      </div>
    </div>

    {% if row_count == 5 %}
    {% assign row_count = 1 %}
      </div>
      <div class='pure-g'>
    {% endif %}

    {% endif %}{% endif %}{% endfor %}
    {% assign img_count =  1 %}
    {% assign row_count =  1 %}

  </div>

</div>
