{% if include.imageFile %}
  {% capture imagePath %}/assets/{{include.imageFile}}{% endcapture %}
{% else %}
  {% capture imagePath %}/assets/binder/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.name }}{% endcapture %}
{% endif %}
<div class='image-binder'>
  {% if include.caption %}
    <figure>
        <img src="{{imagePath}}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
        <figcaption>{{ include.caption }}</figcaption>
    </figure>
  {% else %}
  <img src="{{imagePath}}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
  {% endif %}
</div>
