<style>

.message-info {
  margin:10px;
  color: #489900;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  vertical-align:middle;
}
.message-info a {
  margin-left:20px;
  color: #111;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}
.message-info a:visited {
  color: #111;
}
.message-alert {
  margin:10px;
  color: #df4d0b;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

</style>

<script>

function messageAlert(txt){
  $('#message-text').removeClass();
  $('#message-text').addClass('message-alert')
  $('#message-text').text(txt);
}

function messageInfo(txt){
  $('#message-text').removeClass();
  $('#message-text').addClass('message-info')
  $('#message-text').text(txt);
}
function messageHTML(txt){
  $('#message-text').removeClass();
  $('#message-text').addClass('message-info')
  $('#message-text').html(txt);
}

</script>
