---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: 'Montserrat', sans-serif;
$base-font-size:   14px !default;
$background-color: #fff !default;
$brand-color:      #2a7ae2 !default;

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');
@import url("https://unpkg.com/purecss@1.0.1/build/pure-min.css");
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");

// Generral settings
h1, h2, h3, h4 {
  font-family: 'Inconsolata', monospace;
}
blockquote {
  color: #828282;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  letter-spacing: normal;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}
// Main content inside page
.page-content a:hover {
  text-decoration: none;
}
// Site menu header
.site-header {
  min-height: unset;
}
.site-header a {
    color: #282828;
    text-decoration: none;
}
// Pure css
.pure-form a:visited {
  color: #fff;
}

// Footer
.footer-col-wrapper {
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
}
// Comments
#disqus_thread {
  filter: grayscale(1) opacity(.66);
  margin-top: 100px;
  margin-bottom: 20px;
}
#disqus_thread:hover {
  filter: grayscale(1) opacity(1);
}
// Services shadow
.upload-shadow {
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top:30px;
  margin-bottom:40px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.0);
  -moz-box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.0);
  box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.0);
}
