---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: 'Montserrat', sans-serif;
$base-font-size:   12px !default;
$background-color: #fff !default;
$brand-color:      #2a7ae2 !default;
//
@import "minima";
@import url('https://api.dfmd.mx/static/css/main.css');
