---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: 'Montserrat', sans-serif;
$base-font-size:   12px !default;
$background-color: #fff !default;
$brand-color:      #2a7ae2 !default;

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');
@import url("https://unpkg.com/purecss@1.0.1/build/pure-min.css");
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

// Generral settings
h1, h2, h3, h4 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
blockquote {
  color: #828282;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  letter-spacing: normal;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}
// Main content inside page
.page-content a:hover {
  text-decoration: none;
}
// Site menu header
.site-header {
  min-height: unset;
}
.site-header a {
  color: #282828;
  text-decoration: none;
}
// Pure css
.pure-form a:visited {
  color: #fff;
}
// Footer
.footer-col-wrapper {
  font-size: 12px;
  font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
// Comments
#disqus_thread {
  filter: grayscale(1) opacity(1);
  margin-top: 20px;
  margin-bottom: 20px;
}
// Services shadow
.upload-shadow {
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top:30px;
  margin-bottom:40px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.0);
  -moz-box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.0);
  box-shadow: 2px 3px 16px -7px rgba(0,0,0,0.0);
}
// reCAPTCHA
.grecaptcha-badge { visibility: hidden; }

// links pero que siempre estan negros
.title-link{
  font:400 14px "Montserrat", sans-serif;
  height:1.5em;
  margin-bottom:5px;
}
.title-link a {
  color: #111;
}
.title-link a:visited{
  color: #111;
}
