<!-- ---------includes--------- -->
{% include store/form-store.html method='store_add_cart_item' %}
<!-- ---------includes--------- -->

{% include store/input-general-info.html %}
{% include store/input-upload-files.html %}

<div class="pure-form pure-form-stacked">

  <fieldset>
    <legend>Especificación del material</legend>
    <div class="pure-g">

      <div class="pure-u-1 pure-u-md-1-2">
        <label>Alto - Z</label>
        <select form='form-store' name="altura" class="pure-input-2-3">
          <option>3mm</option>
          <option>6mm</option>
        </select>

        <label>Largo,Ancho - XY</label>
        <select form='form-store' name="dimensiones" class="pure-input-2-3">
          <option>1220mm-2440mm</option>
        </select>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
        <label>Color</label>
        <input form='form-store' type="radio" name="color" value="Blanco" checked> {%include utils/color-dot.html size='16px' color='#fcfcfc'%} Blanco<br>
        <input form='form-store' type="radio" name="color" value="Plata"> {%include utils/color-dot.html size='16px' color='#fafafa'%} Plata<br>
        <input form='form-store' type="radio" name="color" value="Negro"> {%include utils/color-dot.html size='16px' color='#383838'%} Negro<br>
      </div>

    </div>
  </fieldset>

</div>


{% include store/input-submit.html %}
